In [1]:
import pandas as pd
from sqlalchemy import create_engine, text,insert, MetaData, Table, Column, VARCHAR, INT, DateTime
from sqlalchemy.exc import InvalidRequestError, OperationalError
import sqlite3
import os
from dotenv import load_dotenv


from etl.extract.extract import extract_api
from etl.transform.transform import clean_earthquake_data
from config.db_config import load_db_config

## Loading Data Into In-Memory Database

In [2]:
teststarttime = '2025-04-05T00:00:46'
testendtime = '2025-05-05T17:05:58'
dfa = extract_api(teststarttime, testendtime)

2025-05-10 17:32:24,218 - etl.extract.extract - ERROR - Successfully extracted data

In [3]:
dfa = clean_earthquake_data(dfa)

In [4]:
dfa.head()

,id,magnitude,location,time,type,longitude,latitude,depth,closestLocation
0,nc75176891,1.21,California,2025-05-05 17:01:45,earthquake,-122.61,38.45,3.46,7 km NW of Kenwood
1,us7000pxa4,3.90,Chile,2025-05-05 16:58:47,earthquake,-69.99,-19.64,60.40,45 km NNW of Huara
2,av93597541,-0.67,Alaska,2025-05-05 16:56:17,earthquake,-152.24,61.28,3.76,63 km WNW of Tyonek
3,ak0255r00sou,1.80,Alaska,2025-05-05 16:53:56,earthquake,-176.31,51.54,32.70,43 km SSE of Adak
4,uw62093962,0.25,Washington,2025-05-05 16:52:36,earthquake,-121.76,46.86,1.62,23 km ENE of Ashford

In [9]:


data = {
    'customer_id': range(1, 10001),  # 10,000 rows
    'name': [f'Customer {i}' for i in range(1, 10001)],
    'email': [f'customer{i}@example.com' for i in range(1, 10001)],
    'city': ['City A' if i % 2 == 0 else 'City B' for i in range(1, 10001)]
}


df = pd.DataFrame(data)

In [ ]:
engine = create_engine('sqlite:///:memory:')

with engine.connect() as conn:
    conn.execute(text('''
        CREATE TABLE earthquakes (
            id VARCHAR(20) PRIMARY KEY,
            magnitude INT,
            location VARCHAR(255),
            time DATETIME,
            type VARCHAR(20),
            longitude INT,
            latitude INT,
            depth INT,
            nearestCity VARCHAR(70)                        
        );
    '''))

dfa.to_sql('earthquakes', engine, if_exists='append', index=False, method='multi', chunksize=1000)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text('SELECT COUNT(*) FROM earthquakes'))
    print(f'Total rows imported: {result.fetchone()[0]}')

    # Optionally, display a few rows to verify
    result = conn.execute(text('SELECT * FROM earthquakes LIMIT 5'))
    for row in result:
        print(row)

## Loading Data Into Local Postgres Database

In [4]:

db_details = load_db_config()['target_database']
db_details

{'dbname': 'postgres',
 'user': 'postgres',
 'password': 'gameingpc',
 'host': 'localhost',
 'port': '5432'}

In [ ]:


engine = create_engine(f'postgresql://{db_details['user']}:{db_details['password']}@{db_details['host']}:{db_details['port']}/{db_details['dbname']}')
engine.connect()


print(engine)

Engine(postgresql://postgres:***@localhost:5432/postgres)

In [6]:
meta = MetaData()
meta.reflect(bind=engine)
print(meta)
my_table = meta.tables

MetaData()

In [18]:
'earthquake_tefest_4' in my_table

False

In [12]:

earthquake_test_1 = Table(
    'earthquake_test_4',
    meta, 
    Column('id',VARCHAR(20) ,primary_key=True),
    Column('magnitude',INT),
    Column('location',VARCHAR(70)),
    Column('time',DateTime),
    Column('type',INT),
    Column('longitude',INT),
    Column('latitude',INT),
    Column('depth',INT),
    Column('closestLocation',VARCHAR(70))
    )

meta.create_all(engine)

Table already exists: Table 'earthquake_test_4' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [7]:

dfa[:10].to_sql('earthquakes_test_4',engine,if_exists='replace')

10

In [6]:
conn = engine.connect()
query = "SELECT * FROM earthquakes_test_4"
output = conn.execute(text(query))
print(output.fetchall())

[(0, 'nc75176891', 1.21, ' CA', '2025-05-05 17:01:45', 'earthquake', -122.61, 38.45, 3.46, '7 km NW of Kenwood'), (1, 'us7000pxa4', 3.9, ' Chile', '2025-05-05 16:58:47', 'earthquake', -69.99, -19.64, 60.4, '45 km NNW of Huara'), (2, 'av93597541', -0.67, ' Alaska', '2025-05-05 16:56:17', 'earthquake', -152.24, 61.28, 3.76, '63 km WNW of Tyonek'), (3, 'ak0255r00sou', 1.8, ' Alaska', '2025-05-05 16:53:56', 'earthquake', -176.31, 51.54, 32.7, '43 km SSE of Adak'), (4, 'uw62093962', 0.25, ' Washington', '2025-05-05 16:52:36', 'earthquake', -121.76, 46.86, 1.62, '23 km ENE of Ashford'), (5, 'ak0255qzza26', 2.5, ' Alaska', '2025-05-05 16:46:48', 'earthquake', -135.02, 55.5, 10.0, '86 km SSW of Port Alexander'), (6, 'ak0255qzxrf2', 2.0, ' Alaska', '2025-05-05 16:39:37', 'earthquake', -153.13, 59.51, 106.2, '63 km ESE of Pedro Bay'), (7, 'ci41145136', 0.78, ' CA', '2025-05-05 16:34:18', 'earthquake', -117.12, 33.68, 2.31, '5 km SW of Winchester'), (8, 'tx2025itvs', 1.7, ' New Mexico', '2025-05-05 16:32:57', 'earthquake', -104.43, 31.66, 5.59, '57 km S of Whites City'), (9, 'nc75176886', 1.92, ' CA', '2025-05-05 16:31:04', 'earthquake', -122.81, 38.75, 14.78, '5 km WSW of The Geysers')]

In [ ]:
dfa['time'].dt.strftime('%Y-%m-%d %H:%M:%S')